name: Terraform Apply
'on': workflow_dispatch
jobs:
  terraform_apply:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    defaults:
      run:
        working-directory: Abgabe3
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Terraform setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5
          
      - name: Add AWS creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          aws-region: us-east-1
          aws-session-token: '${{ secrets.TF_API_TOKEN }}'
          
      - name: Terraform init
        run: terraform init
        
      - name: Terraform Validate
        run: terraform validate
        
      - name: Terraform Plan
        run: terraform plan
        
      - name: Terraform Apply
        run: terraform apply -auto-approve
